body {
    margin: 0;
    background-color: cornsilk;
    --main-padding: 1em;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--main-padding);
}

img {
    font-size: 0;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 0;
}

.form-input {
    margin-bottom: 0.5em;
}

.form-input > * {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

/* Link to thing with picture */
.piece {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    max-width: 12em;
}

.piece > * {
    display: block;
}
