body {
    /* height: 100vh; */
    margin: 0;
    background-color: cornsilk;
    padding: 1em;
}

.container {
    display: flex;
    justify-content: center;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.form-input {
    margin-bottom: 0.5em;
}

.form-input > * {
    display: block;
    width: 100%;
}
